body {
    background-color: #f4f4f4;
    color: #333;
    margin; 0;
{
#header {
    text-align: center;
{

#header > div:firsrt child {
    background-color: #00357a;
    color: white;
    padding: 30px;
{

.content {
    widht:80;
    max-width: 800;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
{

.content h2 {
    color:00357a;
    border-bottom: 2px solid 
#00357cpadding-bottom: 5px
